@media only screen and (min-width: 1024px) {

    nav ul {
        margin-left: 25px;
    }

    nav li {
        width: auto;
    }

    nav a {
        padding: 0.7rem 1rem;
    }
    .img1,.img2,.img3 {
        top:-100px;
      }
    /* Footer Menu */
    .footer-menu{
        height: 80px;
        width: 100%;
        display:flex;
        background-color: #007cba;
        padding-left: 22%;
    }
    
    .footer-menu img{
        width:96px;
        margin-top: -50px;
    }

}
@media only screen and (min-width: 1200px) {
    /* Footer Menu */
    .footer-menu{
        height: 80px;
        width: 100%;
        display:flex;
        background-color: #007cba;
        padding-left: 25%;
    }
    
    .footer-menu img{
        width:128px;
        margin-top: -90px;
    }

}

/* end of media query */