@media only screen and (min-width: 768px) {

    header img {
        margin-right: 100%;
        height: 100px;
        padding-left: 20px;
    }
    /*Nav display change*/
    #hambrgrBtn {
        display: none;
    }

    nav ul {
        display: block;
    }

    nav li {
        width: 25%;
        float: left;
    }



} /* end of media query */