@media only screen and (min-width: 768px) {

    header img {
        margin-right: 100%;
        height: 100px;
        padding-left: 20px;
    }

    /*Nav display change*/
    #hambrgrBtn {
        display: none;
    }
    nav {
        top:100px;
    }

    nav ul {
        display: inline;
    }

    nav li {
        width: 33.33%;
        float: left;
    }

    /*Vertical Timeline*/

    .timeline-center-line {
        width: 3px;
        height: 100%;
        left: 50%;
        margin-left: -2px;
    }

    .product-title {
        padding: 10px 25px;
        color: white;
        border-radius: 12px;
        text-align: center;
        margin: 5px auto;
        max-width: 25%;
    }

    .timeline-product {
        width: 100%;
    }

    .content-left-container {
        float: left;
    }

    .content-right-container {
        float: right
    }

    .content-left-container,
    .content-right-container {
        max-width: 43%;
        margin: 20px 0;
    }

    .content-left,
    .content-right {
        padding: 25px 25px;
    }

    .content-left ::before,
    .content-right ::before {
        font-family: "FontAwesome";
        position: absolute;
        top: 10%;
        color: white;
        font-size: 25px;
    }


    .content-left ::before {
        content: "\f0da";
        right: -8px;
    }

    .content-right ::before {
        content: "\f0d9";
        left: -8px;
    }

    .timeline-product .hero-icon {
        left: 50%;
        margin-top: -925px;
    }

    /* Footer Menu */
    .footer-menu {
        height: 80px;
        display: flex;
        background-color: #007cba;
    }

    .footer-menu img {
        width: 80%;
        margin-left: auto;
        margin-top: -50px;
    }
}

/* end of media query */